<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      QR-App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block (click)="scan()" color="primary">
    Realizar Scan
  </button>
</ion-content>
